// Base variables

$paragraphPadding: 5px !default;

// Font variables
$fontSize: 16px !default;
$lineheight: 20px !default;
$fontColor: #323232 !default;
$fontFamily: Arial, sans-serif !default;

// Colors
$primary: #00ac5b !default;
$secondary: #ac005b !default;
$link: #ac005b !default;


// Container/Grid
$containerPadding: 20px !default;
